<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/css.css">
</head>
<body >
    <form action="/" method="post">
        <label for="nombre">Ingrese su nombre </label>
        <input type="text" id="nombre" name="nombre" >
        <% if(locals.errors && errors.nombre){%>
            <div style="color: crimson;"> <%= errors.nombre.msg %></div>
        <% } %>
        <label for="color">Color favorito</label>
            <select name="color" >
                
                <option value="verde"  >Verde</option>
                <option value="azul">Azul</option>
                <option value="rosa"  >Rosa</option>
                <option value="amarillo" >Amarillo</option>

            </select>
        <label for="email">Ingrese su email</label>
        <input type="email" id="email" name="email" >
        <% if(locals.errors && errors.email){%>
            <div style="color: crimson;"> <%= errors.email.msg %></div>
        <% } %>
        <label for="edad">Ingrese su edad</label>
        <input type="text" id="edad" name="edad">
        <% if(locals.errors && errors.edad){%>
            <div style="color: crimson;"> <%= errors.edad.msg %></div>
        <% } %>
        <button type="submit">Enviar</button>
        
    </form>
</body>
</html>